* {
	box-sizing: border-box;
	font-style: normal;
	font-family: Comic Sans MS, Comic Sans, cursive;
}
h1{
	color: grey;
	text-align: center;
	font-size:175%;
}
h3{
	font-size:125%;
	color:white;
}
.container{
width: 100%;
}

div.box section h3 {
	top:0;
	right:0;
	margin:0;
	width:40%;
	border-left:1px solid black;
	border-bottom:1px solid black;
	position: absolute;
	text-align: center;
	line-height: 1.7em;
}
p{
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
}
#sectionHead1{
	background-color: #ff0800;
}
#sectionHead2{
	background-color: #FF6600;
}
#sectionHead3{
	background-color: #6f2da8;
}

div#box1 section,div#box2 section,div#box3 section{
border:1px solid black;
margin-right: auto;
margin-left: auto;
position:relative;
background-color: #b5b8ba;
padding:10px;
}

/********** Large devices only **********/
@media (min-width: 992px) {

#box1,#box2,#box3{
	width:33.3%;
	height: 170px;
	padding:10px;
	float:left;
	position:relative;
	box-sizing: border-box;
}
}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
#box1,#box2{
	width:50%;
	padding:10px;
	float:left;
	position:relative;
}
#box3{
	width:100%;
	padding:10px;
	float:left;
	position:relative;
}
}

@media (max-width: 767px) {
#box1,#box2,#box3{
	width:100%;
	padding:10px;
	float:left;
	position:relative;
}
}